<div class="d-flex flex-column">
  <div class="d-flex mb-2">
    <button class="btn btn-outline-primary me-auto" (click)="filter.toggle()">Filters</button>
    <button class="btn btn-outline-primary" (click)="openCreationPageModal()">+</button>
  </div>
  <div #filter="ngbCollapse" [(ngbCollapse)]="filtersClosed">
    <div class="card">
      <form class="container-sm mt-3" (ngSubmit)="applyFilters()" [formGroup]="filtersForm">

        <div class="mb-3">
          <label for="priority" class="form-label">Priorities</label>
          <select class="form-select" multiple name="priority" formControlName="priority">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </div>

        <div class="mb-3">
          <div class="form-check">
            <input class="form-check-input" name="isCompleted" type="checkbox" formControlName="isCompleted">
            <label class="form-check-label" for="isCompleted">Completed</label>
          </div>
        </div>
      
        <div class="mb-3 d-flex column-gap-2">
          <button type="submit" class="btn btn-primary">Apply</button>
          <button class="btn btn-light" (click)="resetFilters()">Reset</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div ngbAccordion class="mt-2">
    @for (todo of todos; track todo.id) {
        <div ngbAccordionItem>
            <h2 ngbAccordionHeader>
              <button ngbAccordionButton>{{todo.title}}</button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                    <p>description: {{todo.description}}</p>
                    <p>completed: {{todo.isCompleted}}</p>
                    <p>due date: {{todo.dueDate}}</p>
                    <p>priority: {{todo.priority}}</p>
                    <div class="d-flex todo-actions">
                      <button class="btn btn-light" (click)="openEditModal(todo)">Edit</button>
                      <button class="btn btn-danger" (click)="deleteTodo(todo)">Delete</button>
                    </div>
                </ng-template>
              </div>
            </div>
          </div>
    }
</div>
