<h3>Sign In</h3>
<div class="nav-item">
  <i class="bi bi-arrow-left"></i> 
  <button type="button" class="btn btn-link" (click)="toRegistrationPage()">to registration page</button>
</div>
<form [formGroup]="loginForm" (ngSubmit)="login()">
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input
      type="email"
      class="form-control"
      aria-describedby="emailHelp"
      formControlName="email"
    />
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" formControlName="password" />
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>
</form>
